.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/
.DS_Store
*.h5
*.keras
*.pkl
*.joblib

!data/raw/.gitkeep
data/openface/*
!data/openface/.gitkeep
data/processed/*
!data/processed/.gitkeep
results/models/*
!results/models/.gitkeep
results/metrics/*
!results/metrics/.gitkeep
results/figures/*
!results/figures/.gitkeep
data/